[Desktop Entry]
Actions=BackUpNow;
Categories=Settings;Utility;Archiving;GNOME;GTK;X-GNOME-SystemSettings;
Comment=Change your backup settings
Comment[ar]=غيّر إعدادات النسخ الاحتياطي
Comment[ast]=Camuda les tos preferencies de copia de seguridá
Comment[be]=Змяніць параметры рэзервовага капіявання
Comment[bg]=Промяна настройките на резервните копия
Comment[bn]=আপনার ব্যাকআপ সংক্রান্ত সেটিংস পরিবর্তন করুন
Comment[bs]=Promijeni postavke za pravljenje sigurnosne kopije
Comment[ca@valencia]=Canvia les preferències de les còpies de seguretat
Comment[ca]=Canvia les preferències de les còpies de seguretat
Comment[cs]=Změnit nastavení zálohování
Comment[da]=Rediger dine indstillinger for sikkerhedskopiering
Comment[de]=Ihre Datensicherungseinstellungen ändern
Comment[el]=Αλλαγή ρυθμίσεων των αντιγράφων ασφαλείας σας
Comment[en_AU]=Change your backup settings
Comment[en_GB]=Change your backup settings
Comment[eo]=Ŝanĝi viajn sekurkopiajn agordojn
Comment[es]=Cambie las configuraciones del respaldo
Comment[et]=Muuda varundamissätteid
Comment[eu]=Aldatu zure babeskopia-ezarpenak
Comment[fa]=تنظیمات پشتیبان گیری را تغییر دهید.
Comment[fi]=Muuta varmuuskopioinnin asetuksia
Comment[fo]=Broyt tínar trygdarritingar innstillingar
Comment[fr]=Modifiez votre configuration de sauvegarde
Comment[gd]=Atharraich roghainnean nan lethbhreacan-glèidhidh agad
Comment[gl]=Cambiar as configuracións da copia de seguranza
Comment[he]=שינוי הגדרות הגיבוי שלך
Comment[hr]=Promjenite vaše postavke sigurnosne kopije
Comment[hu]=Biztonsági mentés beállításainak módosítása
Comment[id]=Ubah seting backup anda
Comment[it]=Cambia impostazioni di backup
Comment[ja]=バックアップの設定を変更します
Comment[km]=ផ្លាស់ប្ដូរ​ការ​កំណត់​ព័ត៌មាន​បម្រុង​ទុក​របស់​អ្នក
Comment[ko]=떠두는 설정 바꾸기
Comment[ku]=Mîhengên bergîrê xwe biguhere
Comment[lt]=Keisti atsarginių kopijų nustatymus
Comment[lv]=Mainīt dublēšanas iestatījumus
Comment[ms]=Ubah tetapan sandar anda
Comment[nb]=Endre innstillinger for sikkerhetskopiering
Comment[nl]=Reservekopie-instellingen wijzigen
Comment[nn]=Endra innstillingane for tryggleikskopiering
Comment[oc]=Modificatz vòstra configuracion de salvament
Comment[pa]=ਆਪਣੀ ਬੈਕਅੱਪ ਸੈਟਿੰਗ ਬਦਲੋ
Comment[pl]=Zmiana ustawień kopii zapasowych
Comment[pt_BR]=Altere suas configurações de cópia de segurança
Comment[ro]=Modificați configurările pentru copiile de siguranță
Comment[ru]=Изменить параметры резервного копирования
Comment[si]=ඔබේ උපස්ථ සැකසුම් වෙනස් කරන්න
Comment[sk]=Zmení nastavenia zálohovania
Comment[sl]=Spremeni nastavitve varnostnih kopij
Comment[sq]=Ndrysho parametrat e ruajtjes
Comment[sr]=Измените ваша подешавања резерве
Comment[sv]=Ändra inställningar för dina säkerhetskopior
Comment[ta]=உங்கள் காப்பு அமைப்புகளை மாற்றவும்
Comment[te]=మీ బ్యాక్అప్ అమరికలను మార్చండి
Comment[th]=แก้ไขการตั้งค่าการสำรองข้อมูลของคุณ
Comment[tr]=Yedekleme ayarlarınızı değiştirin
Comment[ug]=زاپاسلاش تەڭشىكىنى ئۆزگەرتىش
Comment[uk]=Змінити параметри резервного копіювання
Comment[uz]=Заҳира нусхасини олиш созламаларингизни ўзгартиринг
Comment[vi]=Thay đổi thiết lập sao lưu của bạn
Comment[zh_CN]=更改您的备份设置
Comment[zh_HK]=變更您的備份設定值
Comment[zh_TW]=變更您的備份設定值
Exec=deja-dup-preferences
Icon=deja-dup
Keywords=déjà;deja;dup;
Keywords[ar]=ديجا دوب;ديجا;دوب;نسخ احتياطي; نسخة احتياطية; احتياطي;
Keywords[ast]=déjà;deja;dup;
Keywords[bg]=déjà;deja;dup;
Keywords[bn]=déjà;deja;dup;
Keywords[bs]=déjà;deja;dup;
Keywords[ca@valencia]=déjà;deja;dup;
Keywords[ca]=déjà;deja;dup;
Keywords[cs]=déjà;deja;dup;
Keywords[cy]=déjà;deja;dup;
Keywords[da]=déjà;deja;dup;
Keywords[de]=déjà;deja;dup;backup;datensicherung;
Keywords[el]=déjà;deja;dup;
Keywords[en_AU]=déjà;deja;dup;
Keywords[en_GB]=déjà;deja;dup;
Keywords[eo]=déjà;deja;dup;
Keywords[es]=déjà;deja;dup;
Keywords[eu]=déjà;deja;dup;
Keywords[fa]=déjà;deja;dup;
Keywords[fi]=déjà;deja;dup;
Keywords[fo]=déjà;deja;dup;
Keywords[fr]=déjà;deja;dup;
Keywords[fy]=déjà;deja;dup;
Keywords[gl]=déjà;deja;dup;respaldo;seguranza;copias;
Keywords[he]=déjà;deja;dup;
Keywords[hr]=déjà;deja;dup;
Keywords[hu]=déjà;deja;dup;
Keywords[id]=déjà;deja;dup;
Keywords[io]=déjà;deja;dup;
Keywords[it]=déjà;deja;dup;
Keywords[ja]=déjà;deja;dup;backup;デジャ;ダップ;バックアップ;復元;dap;bakkuappu;fukugen;
Keywords[km]=déjà;deja;dup;
Keywords[ko]=déjà;deja;dup;데자둡;떠두기;
Keywords[lt]=déjà;deja;dup;
Keywords[lv]=déjà;deja;dup;deža;dublēt;rezerves;
Keywords[ms]=déjà;deja;dup;
Keywords[nb]=déjà;deja;dup;
Keywords[nl]=déjà;deja;dup;
Keywords[nn]=déjà;deja;dup;
Keywords[oc]=déjà;deja;dup;
Keywords[pa]=déjà;deja;dup;
Keywords[pl]=déjà;deja;dup;
Keywords[pt_BR]=déjà;deja;dup;
Keywords[ro]=déjà;deja;dup;
Keywords[ru]=déjà;deja;dup;дежа;дап;дуп;
Keywords[sk]=déjà;deja;dup;zaloha;záloha;zálohovanie;zalohovanie;
Keywords[sl]=déjà;deja;dup;varnostna;kopija;arhiv;backup;
Keywords[sq]=déjà;deja;dup;
Keywords[sr]=déjà;deja;dup;
Keywords[sv]=déjà;deja;dup;
Keywords[ta]=தேஜா;தேஜா;டப்;
Keywords[th]=déjà;deja;dup;
Keywords[tr]=déjà;deja;dup;
Keywords[ug]=déjà;deja;dup;
Keywords[uk]=déjà;deja;dup;
Keywords[vi]=déjà;deja;dup;
Keywords[zh_CN]=déjà;deja;dup;备份;
Keywords[zh_HK]=déjà;deja;dup;備份;
Keywords[zh_TW]=déjà;deja;dup;備份;
Name=Backups
Name[cs]=Zálohy
Name[de]=Datensicherungen
Name[el]=Αντίγραφα ασφαλείας
Name[en_AU]=Backups
Name[en_GB]=Backups
Name[es]=Copias de seguridad
Name[eu]=Babeskopiak
Name[fi]=Varmuuskopiot
Name[fr]=Sauvegardes
Name[fr_CA]=Sauvegardes
Name[gl]=Copias de seguranza
Name[hu]=Biztonsági mentés
Name[ms]=Sandar
Name[nb]=Sikkerhetskopier
Name[nl]=Reservekopieën
Name[pl]=Kopie zapasowe
Name[pt_BR]=Backups
Name[ru]=Резервные копии
Name[sl]=Varnostne kopije
Name[tr]=Yedeklemeler
Name[uk]=Резервні копії
Name[zh_TW]=備份
NoDisplay=false
NotShowIn=GNOME;Unity;
StartupNotify=true
TryExec=deja-dup-preferences
Type=Application
Version=1.0
X-AppInstall-Ignore=true
